# Dependencies
node_modules/

# Frontend dependencies
frontend/node_modules/

# Backend dependencies
backend/node_modules/


# Environment variables
.env
backend/.env
frontend/.env


# Build files
frontend/build/
frontend/dist/


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# OS files
.DS_Store
Thumbs.db


# Editor files
.vscode/
.idea/


# Temporary files
*.tmp
*.temp